In [44]:
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv("/content/drive/MyDrive/diabetes2.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              8    183.0  ...   32        1
2              0    137.0  ...   33        1
3              3     78.0  ...   26        1
4              2    197.0  ...   53        1
..           ...      ...  ...  ...      ...
763            9     89.0  ...   33        0
764           10    101.0  ...   63        0
765            2    122.0  ...   27        0
766            5    121.0  ...   30        0
767            1     93.0  ...   23        0

[768 rows x 9 columns]

In [3]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   768 non-null    int64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [14]:
df2 = df.fillna(0)
df2

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              8    183.0  ...   32        1
2              0    137.0  ...   33        1
3              3     78.0  ...   26        1
4              2    197.0  ...   53        1
..           ...      ...  ...  ...      ...
763            9     89.0  ...   33        0
764           10    101.0  ...   63        0
765            2    122.0  ...   27        0
766            5    121.0  ...   30        0
767            1     93.0  ...   23        0

[768 rows x 9 columns]

In [20]:
df2.groupby("Outcome").size()

Outcome
0    500
1    268
dtype: int64

In [18]:
df2["Glucose"].mean()

120.89453125

In [21]:
df2["BloodPressure"].mean()

69.10546875

In [22]:
df2["SkinThickness"].mean()

20.536458333333332

In [32]:
df2["BMI"].mean()

31.992578124999966

In [33]:
nan_values = {"Glucose": 120.8, "BloodPressure": 69.1, "SkinThickness": 20.5, "BMI": 31.9}
df_clean = df
df_clean = df_clean.fillna(value = nan_values)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [34]:
df_clean.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [35]:
df_clean.min()

Pregnancies                  0.000
Glucose                     44.000
BloodPressure               24.000
SkinThickness                7.000
Insulin                      0.000
BMI                         18.200
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [36]:
df_clean.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  121.680990  ...   33.240885    0.348958
std       3.369578   30.436033  ...   11.760232    0.476951
min       0.000000   44.000000  ...   21.000000    0.000000
25%       1.000000   99.750000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [39]:
df_clean.groupby("Outcome")["Age"].agg(["mean"])

              mean
Outcome
0        31.190000
1        37.067164

In [58]:
edades = df_clean.groupby("Outcome")["Age"].value_counts()
edades

Outcome  Age
0        22     61
         21     58
         24     38
         25     34
         23     31
                ..
1        55      1
         57      1
         61      1
         67      1
         70      1
Name: Age, Length: 96, dtype: int64