<a href="https://colab.research.google.com/github/emilianolel/Proyecto_BEDU_Equipo_5/blob/main/Tipo_de_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
diabetes_df = pd.read_csv('https://github.com/emilianolel/Proyecto_BEDU_Equipo_5/raw/main/Datasets/Corporal_data.csv')

In [12]:
def tipo_de_diabetes(row):
  if row["Glucose"] < 100:
    return "Normal"
  if row["Glucose"] >= 100 and row["Glucose"] < 125:
    return "Pre Diabetes"
  if row["Glucose"] >= 125:
    return "Diabetes"

In [13]:
diabetes_df["TipoDiabetes"] = diabetes_df.apply(lambda row: tipo_de_diabetes(row), axis=1)

In [15]:
diabetes_df.head()

   Unnamed: 0  Pregnancies  Glucose  ...  Outcome  ComposicionCorporal  TipoDiabetes
0           0            6    148.0  ...        1             Obesidad      Diabetes
1           1            8    183.0  ...        1               Normal      Diabetes
2           2            0    137.0  ...        1             Obesidad      Diabetes
3           3            3     78.0  ...        1             Obesidad        Normal
4           4            2    197.0  ...        1             Obesidad      Diabetes

[5 rows x 12 columns]

In [16]:
diabetes_df.to_csv("Tipo_Diabetes.csv")